g# IDE settings
.idea/

# Compiled class file
*.class

# Logs
logs/
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zipgit
*.tar.gz
*.rar

*.iml
.classpath
.project
.settings/
target/


# Sensitive files
/src/main/jib/configuration.yml
/src/main/jib/firebase.json
/src/main/jib/ssl.jks
/configuration.yml
/firebase.json
/ssl.jksgi
/dependency-reduced-pom.xml
/.gcloudignore
